.emphasis {
    --text-color: var(--color-accent-4);
    background: linear-gradient(#FFFFFF88, transparent), var(--text-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
}
